/* Table orange: #F87E4C*/

body {
	background-color: #353f4b;
}

span {
	color: white;
}

#search-bar {
	padding: 0px;
}

#search-field {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#search-button-container {
	padding-left: 0px;
}

#search-button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#filter-bar {
	padding-bottom: 12px;
	border-bottom: thin solid gray;
	margin-bottom: 12px;
}

.result-range-box {
	display:inline;
	width: 45px;
}

#data-table {
	border: 5px solid #F87E4C;
	background-color: snow;
	border-collapse: collapse;
}

#data-table th {
	color: #F87E4C;
	cursor: pointer;
}

#data-table .headerSortUp {
	background-color: #003322;
}

#data-table .headerSortDown {
	background-color: #220033;
}

#data-table td, #data-table th {
	border: 2px solid #F87E4C;
	padding: 7px;
}